@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Space+Grotesk&display=swap');

* { 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
} 
  
body { 
  /* background: #839296;  */
  background: rgba(126, 166, 173, 0.7);
  overflow: auto; 
  color: #4555a4;
} 
  
h1{ 
   text-align: center; 
   margin: 5%; 
   font-size: 2rem;
   letter-spacing: -0.04em;
   font-weight: 700;
} 

.new-todo {
  text-align: left; 
  margin-left: 1rem; 
  font-size: 1rem; 
}
  
ul { 
  text-align: left; 
  padding-left: 4%; 
  padding: 4%; 
  font-size: 1rem; 
  list-style: none; 
} 
  
li:hover{ 
  color:#3345a1; 
  cursor: pointer; 
}